---
---

* {box-sizing: border-box;}

html {font-size: 16pt; padding:1rem;}

table{
    border-collapse: collapse;
    border-spacing: 0;
    border:1px solid #000000;
}

th{
    border:1px solid #000000;
}

td{
    border:1px solid #000000;
}

.r-box {
        padding-right: 1em;
    }

.main-wrapper {display:flex; flex-direction: column;}

#site-nav ul li a {text-transform: capitalize;}

@media (min-width:48rem) {
    body {max-width: 48rem; margin:0 auto;}
    .main-wrapper {flex-direction: row;}
}
