---
---

* {box-sizing: border-box;}

html {font-size: 16pt; padding:1rem;}

table{
    border-collapse: collapse;
    border-spacing: 0;
    border:2px solid #ff0000;
}

th{
    border:2px solid #000000;
}

td{
    border:1px solid #000000;
}

.site-header, main, .site-footer {display:flex; flex-direction: column;}
.site-header div, #news, #guide-nav, .footer-col {flex: 1;}

@media (min-width: 48rem) {
    body {max-width: 48rem; margin:0 auto;}
	.site-header, .site-footer {flex-direction: row;}
}
