---
---

* {box-sizing: border-box;}

html {font-size: 16pt; padding:1rem;}

#site-header {
	margin: 1rem 1rem 0rem 1rem;
}

main {max-width: 48rem;}

#site-header, main, .site-footer {display:flex; flex-direction: column;}
#site-header div, #news, #guide-nav, .footer-col {flex: 1;}

@media (min-width: 48rem) {
	#site-header, main, .site-footer {flex-direction: row;}
}
