---
title: Navigation
---
<nav class="document-nav pure-menu">
<ul class="pure-menu-list">
{% for document in site.navigation %}
<li class="pure-menu-item pure-u-1 pure-u-sm-1-2 pure-u-md-1-2"><a href="#{{ document.title | slugify }}" class="pure-menu-link">{{ document.title }}</a>
    <p>{{ document.url }}</p>
</li>
{% endfor %}
</ul>
</nav>
<div class="document-wrap">
{% for document in site.navigation %}
<article id="{{ document.title | slugify }}" class="test">
    <h1>{{ document.title }}</h1>
    {{ document.content }}
</article>
{% endfor %}
</div>
