---
title: publishing
layout: default
---

<nav class="document-nav pure-menu">
<ul class="pure-menu-list">
{% for document in site.publishing %}
<li class="pure-menu-item pure-u-1-2"><a href="#{{ document.title | slugify }}" class="pure-menu-link">{{ document.title }}</a>
</li>
{% endfor %}
</ul>
</nav>
<div class="document-wrap">
{% for document in site.publishing %}
<article id="{{ document.title | slugify }}" class="test">
    <h1>{{ document.title }}</h1>
    {{ document.content }}
</article>
{% endfor %}
</div>
