<nav id="site-nav" class="pure-menu r-box" role="navigation">
    <span class="pure-menu-heading">Contents</span>
	<ul class="pure-menu-list">
        {% for collection in site.collections %}
            <li class="pure-menu-item"><a href="{{ collection.label | prepend: "/" | prepend: site.baseurl | prepend: site.url }}" class="pure-menu-link">{{ collection.label }}</a></li>
        {% endfor %}
        <li class="pure-menu-item"><a class="pure-menu-link" href="{{ site.baseurl | prepend: site.url }}/glossary">Glossary</a></li>
    </ul>
</nav>

<div class="pure-menu custom-restricted-width">
    <ul class="pure-menu-list">
        {% for collection in site.collections %}
                {% unless collection.label == 'posts' %}
                    <li class="pure-menu-item pure-menu-has-children">
                        <a href="#" id="menuLink1" class="pure-menu-link">{{ collection.label }}</a>
                        <ul class="pure-menu-children">
                            {% for file in collection.files %}
                                <li class="pure-menu-item">
                                    <a href="{{ file.path | remove: "_" }}">{{ file.path | remove: "_" }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endunless %}
        {% endfor %}
    </ul>
</div>
