<nav class="pure-menu pure-menu-horizontal pure-u-1">
    <ul class="pure-menu-list">
        {% for collection in site.collections %}
                {% unless collection.label == 'posts' %}
                    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <a href="{{ collection.label | prepend: "/" | prepend: site.baseurl | prepend: site.url }}" id="menuLink{% increment linkvar %}" class="pure-menu-link">{{ collection.label }}</a>
                        <ul class="pure-menu-children">
                            {% for file in collection.docs %}
                                <li class="pure-menu-item">
                                    <a href="guide/{{ file.url }}">{{ file.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endunless %}
        {% endfor %}
    </ul>
</nav>
